.news_card{
    width: 890px;
    height: 360px;
    padding: 0 2%;
    border-radius: 6px;
    border: 1px #E7E7E799;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8%;
    box-shadow: 0px 4px 4px #0000000A;
}